.feedback {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    /* border: 1px solid #333; */
    /* border-radius: 5px; */
    color: #ddd;
    background-color: transparent;
    z-index: 1000;
  }
  
  .feedback.success {
    background-color: #4CAF50; /* Green */
  }
  
  .feedback.error {
    background-color: #f44336; /* Red */
  }
  
  .feedback.info {
    background-color: #2196F3; /* Blue */
  }
  